$min-height-page: 100vh;
$min-height-user-layout-sp: calc(100vh - 0px);
$min-height-user-layout-pc: calc(100vh - 0px);
$color-primary: #000000;
$min-height-input: 42px;
$min-height-btn: 42px;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;